<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Activity Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :activity_type, "Activity Type", :class => 'field-label' %>
    <div class="form-select">
      <%= select_tag(
          "activity_type",
          options_for_select([
            ['Aerobic', 'aerobic'],
            ['Interval', 'interval'],
            ['Anaerobic', 'anaerobic'],
            ['Weights', 'weights'],
            ['Distance', 'distance'],
            ['Kettle Bells', 'kettle-bells']
          ]), include_blank: true
        ) %>
    </div>
  </div>

  <div class="actions">
   <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>
